# Firebase Service Account Path
# When deploying to Render, upload your service account JSON to Secret Files and keep this pointing to "firebase-service-account.json".
FIREBASE_SERVICE_ACCOUNT_PATH=firebase-service-account.json

# Your Firebase Project Storage Bucket
# Get this from your Firebase Project Settings (e.g., pg-data-XXXX.appspot.com)
FIREBASE_STORAGE_BUCKET=pg-data-8c54e.appspot.com
